# Module 1

In [1]:
# print Hello Python 101
print("Hello python 101")

Hello python 101

## python data types
Type is how python or a language represents data.

type can be checked using `type` command. Common types are `int`, `float` and `str` 

type can be used using the same keywords like:   
`float(2): 2.0`   
`int(1.1): 1`   
`int('1'): 1`   
`int('A'): error`   
`str(2): "2"`

Remember `True` and `False` are *booleans* and that first letter is capital.

`int(True)` gives 1
and `bool(1)` gives 0. Same is true for 0/false.

In [2]:
print(type(3.4))
print(type("2"))
print(int(True))
print(bool(0))

<class 'float'>
<class 'str'>
1
False

## String Operations

In [9]:
# string slicing
x = "Hi dude"
print(x[4])
print(x[6])
print(x[-1])
print(x[0])
print(x[0:4])
print(x[:4])
print(x[0:4:2])
print(x[3:])

u
e
e
H
Hi d
Hi d
H
dude

In [16]:
y = " five"
x = "hi"
print(x+y)
print(x*3)

hi five
hihihi

use `\\` to get `\` in print statements
or use `print(r"text")`   
This r stands for raw - Gordon Ramsay

In [14]:
print(" hi \yo")
print("hi \n yo")
print(r"hi \n yo")

hi \yo
hi
 yo
hi \n yo

# string methods

In [21]:
A = "Hi my name is John Doe"
B = A.upper()
print(A)
print(B)
C = A.replace("John","Janet") # mind the caps
print(C)

Hi my name is John Doe
HI MY NAME IS JOHN DOE
Hi my name is Janet Doe

In [27]:
 #find
 print(A.find("name")) #gives only 1 index position
 print(A.find("i")) #stops at first instance
 print(A.find("joke")) #gives -1 if it doesnt find the term

6
1
-1

# Module 2

## Tuples 
* Tuples are ordered sequence
* tuples are immutable.
* can contain any data type simple or complex.
* use `len` to find length of tuple.
* use `sorted` to sort a tuple

In [4]:
l = [1,2,3,4] # list
t1 = (1,2,3,l) #tupple
t1

(1, 2, 3, [1, 2, 3, 4])

In [5]:
t1[2] = 55 # error

TypeError: 'tuple' object does not support item assignment

In [10]:
t1[3][2] = 55 # no error in updating list. part of list can be updated. t1[3] = 55 gives error.
t1

(1, 2, 3, [1, 2, 55, 4])

In [11]:
len(t1)

4

In [16]:
# sorting tuples
rating = (5,6,7,3,1,2,10,44,0)
ratingsortted = sorted(rating)
print(ratingsortted)

[0, 1, 2, 3, 5, 6, 7, 10, 44]

## Lists
* Lists are also ordered sequence.
* list represnted by `[]` and elements are seperated by commas.
* Lists are mutable.
* supports slicing and dicing

In [24]:
l1= [1,2,3]
l2 = [4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

`append` adds 1 element at the end. even if the element is complex data type as list.   
`extend` concatinate elements at the end. similar to + operation

In [25]:
l1.extend(["p",55]) # extend allows to add elements to the ened of the list
l1

[1, 2, 3, 'p', 55]

In [26]:
l1.append(["aa",77])
l1

[1, 2, 3, 'p', 55, ['aa', 77]]

Delete element from list   
use `del`

In [27]:
ld = [1,2,3,4]
print(ld)
del(ld[2])
print(ld)

[1, 2, 3, 4]
[1, 2, 4]

convert `string` to list using `.split()`   
used `.split(",")` to use , as the deliminater

In [29]:
t = "Hi my name is joe"
t.split()

['Hi', 'my', 'name', 'is', 'joe']

## Sets
* sets are unordered unlike list/tuples. Don't record element position.
* sets have unique elements(no dublicates).
* create using `{}`.

In [31]:
# convert list to set using set()
l = [1,2,3,3,5,5,5,"Hi","ho","hi","hi"]
s = set(l)
print(s)

{1, 2, 3, 5, 'ho', 'hi', 'Hi'}

## Set operations
`add`   
`remove`   
`in` (to check if item is in set. It returns `True` if it exists.)   
A `&` B (gives intersection of set A and B) can also use `A.intersection(B)`   
`A.union(B)` (gives union)   
`A.difference(B)` (gives only A. kind of like A-B(which also seems to work))   
`A.issubset(B)` (check if A is subset of B )   
`A.issuperset(B)` (check if A is superset of B)

In [48]:
a = {2,3,5,7} # set of primes
a.add(11)
print(a)
a.add(11) # doing again changes nothing
print(a)
a.remove(2) #remobve 2 from set
print(a)

print(7 in a)
print(8 in a)

b = {1,2,3}
print(a&b)
print(a.union(b))
print(a.issubset(b))
print("..................")
print(a-b)

{2, 3, 5, 7, 11}
{2, 3, 5, 7, 11}
{3, 5, 7, 11}
True
False
{3}
{1, 2, 3, 5, 7, 11}
False
..................
{11, 5, 7}

## Dictionaries
* Dictionaries have keys and value
* denoted by `{}`.
* keys need to be immutable and unique.
* first we enter key then value.
* each key is seperated by a comma.
* use .keys() to get keys of a dictionary 
* use .values() to get values of a dictionary.

In [45]:
d = {1:"a",2:"b",3:"tt",4:"hhh"}
print(d)
print(d.keys())
print(d.values())

{1: 'a', 2: 'b', 3: 'tt', 4: 'hhh'}
dict_keys([1, 2, 3, 4])
dict_values(['a', 'b', 'tt', 'hhh'])